div#tuheader {
    background-color: #F5A300;
    margin: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

div#navigation {
    background-color: #F5A300;    
    padding: 5px;
    margin: 0px;    
}

div#navigation a:link {
    color: black;    
}

div#navigation a:visited {
    color: black;
}

div#content {
    padding-left: 20px;
}

input.add {    
    border: 0px;
    width: 25px;
    height: 25px;
    padding: 1px;
    background: url('/media/Add.png') no-repeat center transparent;
}

input.delete {
    border: 0px;
    width: 25px;
    height: 25px;
    padding: 1px;
    background: url('/media/Delete.png') no-repeat center transparent;
}

td.abgegeben {
    background: #d6ffc0;
}

td.nicht_abgegeben {
    background: #ffdbdb;
}

    th {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        text-align: left;
    }

    td {
        padding: 5px;
        background-color: #eeeeee;        
    }    

a:visited {
    color: #222222;    
}

h1.err {
    color: red;
}

